body {
  color:yellow;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to right, rgba(73,221,28,1) 0%,rgba(140,51,16,1) 4%,rgba(117,34,1,1) 96%,rgba(117,34,1,1) 96%,rgba(117,191,78,1) 100%); /* w3c */
}

button {
  cursor: pointer;
}
